
  
  /* Chrome, Edge and Safari */
  .todolist::-webkit-scrollbar {
    width: 10px;
  }
  .todolist::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DCDCDC;
  }
  
  .todolist::-webkit-scrollbar-track:hover {
    background-color: #D3D3D3;
  }
  
  .todolist::-webkit-scrollbar-track:active {
    background-color: #DCDCDC;
  }
  
  .todolist::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #555555;
  }
  
  .todolist::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
  }
  
  .todolist::-webkit-scrollbar-thumb:active {
    background-color: #555555;
  }
  